@charset "utf-8";
/* CSS Document */

header {
  margin: auto;
  width: 70%;
}

h1 {
	font-size:2em;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-align: center;
}

h2 {
	font-size:1em;
	font-weight:200;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-align: center;
}

.start {
	display: block;
	margin: auto;
	width: 20%;
	background-color: purple;
	color: white;
	font-size: 1em;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	padding: 2%;
}

.values {
	display: block;
	margin-bottom: 2%;
	width: 100%;
	background-color: #422642;
	color: white;
	font-size: 1em;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	padding: 1%;
}
